<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "css/style.css">
</head>
<body>
    <header>
        <ul>
          <li><a class="active" href="/">Home</a></li><br>
        </div>
    </header>
    <body>
    <center><%= yield %></center>
    </body>
  	</ul>
</body>
</html>