<h2>Welcome to the phone book</h2>
<h3>Please sign if you have an account </h3>
<form method="post" action="sign_in">
	<input type="text" id="username" name="username" placeholder="Username" autofocus required>
	<input type="password"  id="password" name="password" placeholder="Password" autofocus required>
	<input type="submit" value="Sign In">
</form>

<h3>Create a new account:</h3>
<form method="post" action="create_user">
	<input type="text" id="username" name="username" autofocus required>
	<input type="password" id="password" name="password" autofocus required>
	<input type="submit" value="Sign Up">
</form>

